<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Quick Maffs</title>
  <h1>Quick Maffs!</h1>
</head>

<body>
  <div>
    <main>
      {{{ body }}}
    </main>
  </div>
</body>

<footer>
  <a href="/sign-up">Sign Up</a>
  <a href="/sign-in">Sign In</a>
</footer>

