<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Quick Maffs</title>
  
</head>

<body>
    <header>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <div>
    <main>
      {{{ body }}}
    </main>
  </div>
    {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

