<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Quick Maffs</title>
</head>
<body>
  <button id="start-button">Start Game</button>
  <div id="number-container" class="number-container"></div>
  <div id="drop-zone" class="drop-zone">Drop Zone</div>
  <div id="options-container"></div> <!-- New options container -->
  <script src="/js/logic.js"></script>
</body>
<footer>
  <button id="reset-button">Reset Game</button>
  <a href="/sign-up">Sign Up</a>
  <a href="/sign-in">Sign In</a>
</footer>
</html>
