body, html {
  margin-left:1%;
  margin-right:1%;
  margin-bottom:1%;
  margin-top:1%;
  }

.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drop-zone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  background-color: #26a9e0;
  text-align: center;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
  font-size:72px;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  user-select: none;
  border-radius: 30%;
  font-family: 'Bubblegum Sans';
  font-size: 80px;
  color: #1889b9;
}

.draggable-number {
  width: 65px;
  height: 65px;
  background-color: lightblue;
  margin: 5px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  background: 
    radial-gradient(
      circle at 30% 30%,
      #ffff00,
      #774400
    );
}
#reset-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #26a9e0;
  border-color: rgb(182, 190, 201);
  color: white;
  border-radius: 30%;
  padding: 15px 30px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#reset-button:hover {
  background-color: #1889b9;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#target-number {
  font-family: 'Bubblegum Sans';
  font-size: 30px;
  background-color: transparent;
  color: white;
  border-radius: 30%;
  padding: 10px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}





#score {
  font-family: 'Bubblegum Sans';font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#start-button {
  margin-top: 10px;
  background-color: #26a9e0;
  color: white;
  border-radius: 30%;
  border-color: rgb(182, 190, 201);
  padding: 15px 30px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
#start-button:hover {
  background-color: #1889b9;
}

#timer {
  font-family: 'Bubblegum Sans';font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-family: 'Bubblegum Sans';font-size: 50px;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

body {
  background-color: darkgray;
}

footer {
  display: flex;
  justify-content: center;
  font-family: 'Bubblegum Sans';font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
a { 
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .drop-zone {
    height: 50vh;
    line-height: 50vh;
  }
  .draggable-number {
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
  }
  header {
    font-size: 5vw;
  }
  #score,
  #timer {
    font-size: 4vw;
  }
}